useDynLib(gjam)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "pdf", "rgb", "colorRampPalette", "dev.copy2pdf",
            "graphics.off")
importFrom("MASS", "ginv", "isoMDS")
importFrom("repmis", "source_data")
importFrom("RANN", "nn2")
importFrom("grDevices", "col2rgb", "dev.off")
importFrom("graphics", "arrows", "barplot", "bxp", "strheight",
             "strwidth")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "legend",
            "lines", "mtext", "par", "plot", "points", "polygon",
            "rect", "symbols", "text", "title")
importFrom("stats", "as.dendrogram", "as.dist", "as.formula", "cor",
            "cov", "cutree", "dendrapply", "density", "hclust",
            "is.leaf", "lm", "median", "model.frame", "model.matrix",
            "pnorm", "qnorm", "quantile", "rbeta", "rgamma", "rnorm",
            "rpois", "runif", "sd", "contrasts", "dnorm", "rbinom", 
           "relevel", "terms", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
