useDynLib(gjam)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "colorRampPalette", "dev.copy2pdf",
            "graphics.off")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "legend",
            "lines", "mtext", "par", "plot", "points", "polygon",
            "rect", "symbols", "text", "title")
importFrom("stats", "as.dendrogram", "as.dist", "as.formula", "cor",
            "cov", "cutree", "dendrapply", "density", "hclust",
            "is.leaf", "lm", "median", "model.frame", "model.matrix",
            "pnorm", "qnorm", "quantile", "rbeta", "rgamma", "rnorm",
            "rpois", "runif", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
